/* Container for flashcards and content */
.concon {
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column; /* Keeps header and content stacked vertically */
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

/* Card Grid */
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns per row, horizontally */
    gap: 1.5rem; /* Spacing between cards */
    width: 100%;
    max-width: 100%;
}

/* Individual Card */
.card {
    background-color: #f5f5dc;
    color: #2e402d;
    border-radius: 12px;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    box-shadow: 5px 5px 0 #2e402d;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    min-height: 250px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: auto;
}

/* Card Hover Effect */
.card:hover {
    transform: translateY(-2px);
}

/* Add Card Button */
.add-card {
    background-color: #d4c29a;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Study Button */
.study-btn {
    position: absolute;
    top: 4rem;
    right: 1rem;
    background-color: #D7B879;
    border: none;
    color: #2C4030;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 3px 3px 0px #2C4030;
    transition: background-color 0.2s ease;
    z-index: 10;
}

.collection-title{
    margin-top: 0px;
}

.study-btn:hover {
    background-color: #B69A59;
}


.flashcard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    color: #f5f5dc;
    width: 100%;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.flashcard-header h1 {
    font-size: 2rem;
    color: #f5f5dc;
    font-weight: bold;
    margin-top: 0px;
}

.main-content5 {
    margin-top: 60px; /* match header height */
    transition: margin-left 0.3s ease;
    flex: 1;
    width: 100%;
    background: linear-gradient(to right, #39553F 0%, #5a6c58 40%, #a8a080 70%, #D3C196 100%);
    height: calc(100vh - 60px); /* full height minus header */
    overflow-y: hidden; /* makes it scrollable */
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    box-sizing: border-box;
  }

